* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }
  .column h2{
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    text-transform: lowercase;
    line-height: 1px;
    letter-spacing: -1.2px;
    font-family: visby cf,Sans-serif!important;
font-weight: 900;
color: rgb(71, 70, 70)
  }

 
  .column h3{
    text-align: center;
    font-size: 38px;
    font-weight: lighter;
    font-family: 'Visby', sans-serif;
                                                
    line-height: .1em;
    letter-spacing: -.1px;
  color: #4A4A4A;
  }
  .imgPart {
   display: flex;
   justify-content: center;
  }
  .imgPart img{
    margin: 21px 0;
    margin-right: 12px;
    padding: 0;
  }
  .column p{
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Visby', sans-serif;
    color: #4A4A4A;
    font-weight: 400;
margin-left:auto;

  }
  .insidePart{
    margin-left: -245px;
  }
  .square-container{
    height: 400px;
    width: 524px;
    position: relative;
  }
  .square{
    width: 50%;
    height: 50%;
    border: 1px solid lightgray;
    position: absolute;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for a smooth effect */

  }
  
  .top-left{
    top: 0;
    left: 0;
  }
  .top-right{
    top: 0;
    right: 0;
  }
  .bottom-left{
    bottom: 0;
    left: 0;
  }
  .bottom-right{
    bottom: 0;
    right: 0;
  }
  .compenets img{
    margin: 7px
  }
  .compenets h2{
    font-size: 19px;
    font-weight: 800;
    font-style: normal;
    line-height: 0;
    font-family: visby cf,Sans-serif!important;
    margin: 72px 10px;
    margin-left: 12px;
    text-transform: uppercase;
    }
    .squareFirst:hover {
      background-color: purple;
      box-shadow: 9px -12px 5px 0px rgba(  184,44,184,1);
      color: #fff;
      cursor: pointer;
      color: #fff;
  }
  .squareSecond:hover{
    background-color: #FFCD05;
    box-shadow: 9px -12px 5px 0px rgba(245,218,14,1);

  }
  .squareThird:hover{
    background-color: #00B45A;
    box-shadow: 9px -12px 5px 0px rgba(14,245,34,1);

  }
  .squareFourth:hover{
    background-color: #2382C8;
    box-shadow: 9px -12px 5px 0px rgba(38,181,237,1);

  }
  .compenets h2:hover{ color:#fff} 
